@import 'variables';
//element UI 样式覆盖

//el-message 样式修改
.el-message:after {
  content: '';
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
}

//element-ui分页组件样式
.el-pagination {
  margin-top: 15px;
  text-align: right;
  color: #fff;
  .el-pagination__total, .el-pagination__sizes {
    float: left;
    color: #fff;
  }
  .el-select {
    .el-input{
      height: 28px;
      line-height: 28px;
    }
  }
  button {
    background: transparent !important;
    color: #fff !important;
    &:disabled {
      color: #666 !important;
    }
  }
  .el-pager li {
    background: transparent;
    color: #fff;
    &.active {
      color: $blue;
    }
  }
  .el-pagination__jump, .btn-next {
    color: #fff;
  }
}

.white .el-input .el-input__inner {
  color: #333;
}

//自定义element-ui加载层样式(全局)
.el-loading-mask {
  .el-loading-spinner {
    margin-top: -58px !important;
  }
  .el-icon-loading {
    display: none;
  }
  .el-loading-text {
    padding-top: 96px;
    box-sizing: border-box;
    height: 116px;
    background: url(/static/img/ob__loading--icon.png) no-repeat center top;
    background-size: auto 96px;
    color: #fff;
  }
}

//element-ui el-select组件下拉框样式覆盖（全局应用）

.el-select-dropdown {
  .el-select-dropdown__list {
    .el-select-dropdown__item {
      line-height: 20px;
      height: 20px;
      font-size: 12px;
      font-weight: 500;
      &.selected {
        background: #EBEBEB;
        color: #333;
      }
      &:hover {
        background-color: #EBEBEB;
      }
      > span {
        line-height: 20px!important;
      }
    }
  }
}

//el-table 样式覆盖（全局应用）
.el-table {
  &.community-table {
    .el-table__empty-block {
      min-height: 42px;
    }
  }
  &--border {
    th:first-child .cell, td:first-child .cell{
      //padding: 0 16px;
    }
  }
  &:not(.menber){
    .cell {
      //padding: 0 16px;
    }
  }
  .cell {
    .el-icon-edit{
      color: #0f9ee9;
      cursor: pointer;
      font-size: 16px;
    }
  }
  .el-table__header {
    background-color: rgba(151, 151, 151, 0.03);
    .cell {
      font-weight: 500;
      font-size: 14px;
    }
  }
  .el-table__body tr:hover > td {
    background-color: rgba(255,255,255,.05);
  }
  &:after, &:before {
    background-color: $border !important;
  }
  &.el-table--border, &.el-table--group {
    border-color: $border !important;
  }
  background: transparent !important;
  td, th.is-leaf {
    border-color: $border !important;
  }
  table {
    background: transparent;
    tr, th, td {
      background: transparent;
      color: #fff;
    }
  }
}

//el-tree 树形组件定义默认主题 黑色（社群管理）
.el-tree {
  .identify-icon{
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    transform: scale(0.66);
    zoom: 0.66;
    transform-origin: center center;
    padding: 6px 6px;
    color: #fff;
    background: #0f9ce7;
    border-radius: 4px;
  }
  .el-tree__empty-block {
    font-size: 12px;
  }
  .el-tree-node__content > .el-tree-node__expand-icon {
    padding: 4px;
  }
  .el-tree-node__children {
    .el-tree-node__expand-icon.is-leaf {
      //padding: 0!important;
    }
  }
  .el-tree-node__expand-icon.is-leaf {
    color: transparent !important;
  }
  .el-tree-node__content {
    height: 32px;
    line-height: 32px;
    background: transparent !important;
    &:focus, &:hover {
      background-color: transparent;
    }
    .el-popover__reference, .el-icon-remove-outline {
      display: none;
    }
    > span {
      z-index: 999;
    }
  }
  &.default {
    background-color: transparent !important;
    color: #fff;
    .is-current {
      > .el-tree-node__content {
        color: $blue;
        .el-popover__reference, .el-icon-remove-outline {
          display: inline-block;
        }
        &:after {
          position: absolute;
          left: 0;
          top: 0;
          content: '';
          width: 100%;
          height: 100%;
          display: block;
          opacity: 0.05;
          background-image: linear-gradient(-90deg, #8041C6 0%, #2090E4 100%);
        }
      }
    }
    .el-tree-node__content {
      position: relative;
      &:hover {
        color: $blue;
        &:after {
          position: absolute;
          left: 0;
          top: 0;
          content: '';
          width: 100%;
          height: 100%;
          display: block;
          opacity: 0.05;
          background-image: linear-gradient(-90deg, #8041C6 0%, #2090E4 100%);
        }
      }
    }
  }
}

//复选框样式（全局应用）

.el-checkbox{
  .el-checkbox__inner{
    background-color: transparent;
    border-color: #4C86EE;
    &:after{
      border-color: #fff;
    }
  }
  .is-checked{
    .el-checkbox__inner{
      border-color: #4C86EE;
    }
  }
  .is-disabled{
    .el-checkbox__inner{
      background-color: transparent;
      border-color: #979797;
    }
    &.is-checked{
      .el-checkbox__inner{
        background-color: #979797;
        border-color: #979797;
        &:after{
          border-color: #fff;
        }
      }
    }
  }
}
//subTab 组件搜索框样式重置
.nav-search {
  width: 280px;
  border: none;
  .el-input__prefix {
    font-size: 18px;
    color: $blue;
    z-index: 999;
    cursor: pointer;
    .el-icon-search{
      line-height: 28px;
    }
  }
  &.el-input--prefix {
    .el-input__inner {
      background: transparent !important;
      background-image: none;
      border: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      padding-left: 35px;
      border-radius: 0;
      color: #fff;
    }
  }

}

//ob-group-nav 组件搜索框样式定制
.ob-group-nav {
  .filter__input {
    height: 26px;
    line-height: 0;
    margin-bottom: 20px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.10);
    border-radius: 13px;
    box-sizing: border-box;
    .el-input__inner {
      height: 24px;
      line-height: 24px;
    }
    .el-icon-search{
      line-height: 24px;
    }
    .el-input__suffix{
      .el-input__icon{
        line-height: 24px;
      }
    }
  }
}

//创建社群el-dialog el-body 样式重置

.el-dialog {
  &.el-dialog--pd0{
    border-radius: 4px;
    overflow: hidden;
    .el-dialog__header{
      height: 46px;
      line-height: 46px;
      padding: 0;
      background-image: linear-gradient(-90deg, #8041C6 0%, #2090E4 100%);
      .el-dialog__title{
        color: #fff;
      }
      .el-dialog__close{
        color: #fff;
      }
    }
    .el-dialog__body {
      padding: 0;
    }
  }
}

//添加社群调入地图按钮
.dialog__upload--wrap{
  .el-upload--text{
    display: block;
  }
}

//头部导航管理层社群下拉选框定制样式
.nav__select--manage{
  width: 140px;
  > .el-input{
    background: none;
    .el-input__inner{
      text-align: center;
      font-size: 14px;
    }
  }
}
.select__dropdown--manage{
  width: 200px;
  background: #26232B;
  box-shadow: 1px 3px 8px 0 rgba(0,0,0,0.60);
  border-radius: 2px;
  border: none;
  &.el-popper{
    margin-top: 0;
  }
  .el-select-dropdown__list{
    padding: 14px 0;
    .el-select-dropdown__item{
      height: 24px;
      line-height: 24px;
      background: #26232B!important;
      color: #fff;
      &:nth-last-child(2){
        margin-bottom: 5px;
      }
      span{
        line-height: 24px!important;
      }
      .el-button{
        span{
          line-height: 1!important;
        }
      }
      .ellipsis{
        width: auto;
        max-width: 132px;
      }
      .uu-icon{
        margin: 5px 0 5px 10px;
        vertical-align: initial;
      }
      &.selected, &:hover, &.hover{
        color: #0f9ee9;
      }
    }
    .affirm{
      display: block;
      width: 160px;
      margin: 0 auto;
    }
  }
  .popper__arrow{
    display: none;
  }
}

//社群管理添加设备dialog 设备列表
.device__dialog--list{
  .el-checkbox{
    &.is-disabled{
      .el-checkbox__label{
        color: #606266;
      }
    }
  }
  .el-checkbox__label{
    font-size: 12px;
  }
}

//设备管理导航切换菜单
.device__sub--title{
  .el-select{
    float: left;
    height: 40px;
    line-height: 40px;
    margin-right: 16px;
    box-sizing: border-box;
    .el-select__caret{
      background: none;
      &.el-icon-arrow-up:before{
        content: '\E605'
      }
    }
    .el-input{
      width: 100px;
      height: 40px;
      line-height: 40px;
      background: transparent;
      .el-input__inner{
        padding: 0 6px;
      }
    }
  }
}
//自有设备、非自有设备 搜索
.device__search--wrap{
  .el-input{
    float: left;
    width: 190px;
    background: none;
    .el-input__inner{
      height: 28px;
      line-height: 28px;
      border-bottom: 1px solid rgba(255,255,255, 0.3);
      border-radius: 0;
      padding: 0;
    }
    .el-input__suffix-inner{
      font-size: 18px;
      line-height: 0;
    }
    .el-icon-search{
      color: #2493D2;
      line-height: 28px;
      cursor: pointer;
    }
  }
}
.device__sub--popper{
  &.el-popper[x-placement^=bottom]{
    margin-top: 0;
  }
  .el-select-group__wrap{
    .el-select-group__title{
      line-height: 24px;
    }
    &:not(:last-of-type) {
      padding-bottom: 14px;
      &:after{
        bottom: 6px;
      }
    }
  }
  .popper__arrow{
    display: none;
  }
}


//设备管理-自有设备 添加设备弹框
.device__dialog--wrap{
  .el-dialog__header{
    height: 46px;
    line-height: 46px;
    padding: 0;
    text-align: center;
    font-size: 16px;
    background-image: linear-gradient(-90deg, #8041C6 0%, #2090E4 100%);
    .el-dialog__headerbtn{
      top: 15px;
      .el-dialog__close{
        color: #fff;
      }
    }
    .el-dialog__title{
      color: #fff;
      font-size: 16px;
    }
  }
  .ad-item{
    text-align: center;
  }
}
