@import './variables.scss';

.common-form {
  //margin: 0 auto;
  //默认黑色主题背景
  &[block-message]{
    .el-form-item{
      position: initial!important;
      margin-bottom: 20px;
      .el-form-item__error{
        line-height: 20px!important;
        padding: 0!important;
        top:100%!important;
        left:0!important;
      }
    }
  }
  .el-radio-button__orig-radio:disabled+.el-radio-button__inner{
    cursor: text;
  }
  .el-checkbox__input.is-disabled.is-checked{
    .el-checkbox__inner{
      border: none;
      &:after{
        border: transparent;
      }
    }
  }
  .el-select{
    width: 100%;
  }
  .form__item--des{
    margin-top: 10px;
    font-size: 12px;
    word-break: break-all;
    color: rgba(255,255,255,0.4);
  }
  .el-form-item {
    margin-bottom: 10px;
    .el-checkbox__input{
      vertical-align: top;
    }
    .el-checkbox__label{
      line-height: 1;
    }
    .readonly__text{
      padding: 0 15px;
    }
    &.form-item-button{
      margin: 20px 0 0 0;
    }
    .el-form-item__label {
      position: relative;
      font-size: 14px;
      font-weight: 500;
    }
    .el-form-item__content {
      position: relative;
      font-size:12px;
      .el-input {
        border-radius: 5px;
        .el-input__inner {
          width: calc(100%);
          font-size:12px;
        }
      }
      .el-textarea{
        height: 70px;
        padding: 2px;
        box-sizing: border-box;
        .el-textarea__inner{
          height: 100%;
          width: 100%;
          resize: none;
          font-size:12px;
        }
        &.el-input--medium{
          height: 300px;
        }
      }
      .el-form-item__error{
        position: absolute;
        right:0;
        top:0;
        left:222px;
        color:#F87F21;
        line-height: 28px;
        padding-left:8px;
        white-space: nowrap;
      }
      .el-checkbox{
        .el-checkbox__label{
          font-size:12px;
        }
      }
    }
  }

  &.error278{
    .el-form-item{
      .el-form-item__error{
        left:278px;
      }
    }
  }
}

