@import './variables.scss';



.common-form {
  margin: 0 auto;
  //默认黑色主题背景
  &[block-message]{
    .el-form-item{
      position: initial!important;
      margin-bottom: 20px!important;
      .el-form-item__error{
        line-height: 20px!important;
        padding: 0!important;
        top:100%!important;
        left:0!important;
      }
    }
  }
  .el-radio-button__orig-radio:disabled+.el-radio-button__inner{
    cursor: text;
  }
  .el-select{
    width: 100%;
  }
  &[readonly] {
    .el-form-item {
      .el-form-item__content {
        .el-input {
          background: $default;
          .el-input__inner {
            background: $default;
          }
        }
        .el-textarea__inner{
          background: $default;
        }
      }
    }
  }
  .el-form-item {
    margin-bottom: 10px;
    line-height: 30px;
    &.form-item-button{
      margin: 20px 0 0 0;
    }
    &[readonly] {
      .el-input {
        background: $default !important;
        .el-input__inner {
          &[readonly] {
            background: $default!important;
          }
        }
      }
      .el-textarea__inner{
        background: $default!important;
        &[readonly]{
          background: $default!important;
        }
      }
    }
    .el-form-item__label {
      line-height: 30px;
      font-size: 14px;
      font-weight: 500;
      color: #fff;
      &:before {
        display: none;
      }
    }
    .el-form-item__content {
      position: relative;
      line-height: 30px;
      font-size:12px;
      .el-input {
        height: 30px;
        border-radius: 5px;
        .el-input__inner {
          background-color: #232027;
          background-image: url("/static/img/input_border_bg.png");
          background-repeat: no-repeat;
          background-size: 100% 100%;
          border: none;
          margin: 1px;
          color: #fff;
          width: calc(100% - 2px);
          line-height: 30px;
          height: 30px;
          font-size:12px;
        }
      }
      .el-textarea{
        height: 70px;
        .el-textarea__inner{
          height: 100%;
          width: 100%;
          background-color: #232027;
          background-image: url("/static/img/textarea_border_bg.png");
          background-repeat: no-repeat;
          background-size: 100% 100%;
          border: none;
          resize: none;
          color: #fff;
          font-size:12px;
        }
        &.el-input--medium{
          height: 300px;
          .el-textarea__inner{
            background-image:url("/static/img/textarea_border2_bg.png");
          }
        }
      }
      .el-form-item__error{
        position: absolute;
        right:0;
        top:0;
        left:220px;
        color:#F87F21;
        line-height: 30px;
        padding-left:8px;
        white-space: nowrap;
      }
      .el-checkbox{
        .el-checkbox__label{
          font-size:12px;
          color: #fff;
        }
      }
      .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner{
        background-color: #409EFF;
        border-color: #409EFF;
      }
    }
  }
  //白色主题背景
  &.white{
    .el-form-item {
      &[readonly] {
        .el-input {
          background: $white !important;
          .el-input__inner {
            &[readonly] {
              background: $white;
            }
          }
        }
        .el-textarea__inner{
          background: $white!important;
          &[readonly]{
            background: $white;
          }
        }
      }
      .el-form-item__label {
        color: #333;
        padding: 0;
        &:before {
          display: none;
        }
      }
      .el-form-item__content {
        line-height: 30px;
        .el-input {
          height: 30px;
          border-radius: 5px;
          .el-input__inner {
            background-color: $white;
            color:#333;
          }
        }
        .el-textarea{
          .el-textarea__inner{
            background-color: $white;
            color: #333;
          }
          &.el-input--medium{
            .el-textarea__inner{
              background-image:url("/static/img/textarea_border2_bg.png");
            }
          }
        }
      }
    }
  }
  &.error266{
    .el-form-item{
      .el-form-item__error{
        left:246px;
      }
    }

  }
}
.el-select-dropdown{
  .el-select-dropdown__list{
    .el-select-dropdown__item{
      line-height: 24px;
      height: 24px;
      &:hover{
        background-color: #EBEBEB;
      }
      >span{
        line-height: 24px!important;
      }
    }
  }
}
