@import './variables.scss';

.common-form {
  margin: 0 auto;
  //默认黑色主题背景
  &[block-message]{
    .el-form-item{
      position: initial!important;
      margin-bottom: 20px;
      .el-form-item__error{
        line-height: 20px!important;
        padding: 0!important;
        top:100%!important;
        left:0!important;
      }
    }
  }
  .el-radio-button__orig-radio:disabled+.el-radio-button__inner{
    cursor: text;
  }
  .el-checkbox__input.is-disabled.is-checked{
    .el-checkbox__inner{
      background: url(/static/img/disabled__checked.png) no-repeat left center;
      background-size: cover;
      border: none;
      &:after{
        border: transparent;
      }
    }
  }
  .el-select{
    width: 100%;
  }
  &[readonly] {
    .el-form-item {
      .el-form-item__content {
        .el-input {
          background: $default;
          .el-input__inner {
            background: $default;
          }
        }
        .el-textarea__inner{
          background: $default;
        }
      }
    }
  }
  .form__item--des{
    margin-top: 10px;
    font-size: 12px;
    word-break: break-all;
    color: rgba(255,255,255,0.4);
  }
  .el-form-item {
    margin-bottom: 10px;
    line-height: 30px;
    .el-checkbox__input{
      vertical-align: top;
    }
    .el-checkbox__label{
      line-height: 1;
    }
    .readonly__text{
      padding: 0 15px;
    }
    &.form-item-button{
      margin: 20px 0 0 0;
    }
    &[readonly] {
      .el-input {
        background: $default !important;
        .el-input__inner {
          &[readonly] {
            background: $default!important;
          }
        }
      }
      .el-textarea__inner{
        background: $default!important;
        &[readonly]{
          background: $default!important;
        }
      }
    }
    .el-form-item__label {
      position: relative;
      line-height: 30px;
      font-size: 14px;
      font-weight: 500;
      color: #fff;
      &:before {
        //display: none;
      }
    }
    .el-form-item__content {
      position: relative;
      line-height: 30px;
      font-size:12px;
      .el-input {
        height: 30px;
        line-height: 30px;
        border-radius: 5px;
        background-image: url('/static/img/input_border_bg@2x.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-color: $default;
        .el-input__inner {
          background-color: $default;
          border: none;
          color: #fff;
          width: calc(100%);
          line-height: 30px;
          height: 30px;
          font-size:12px;
        }
      }
      .el-textarea{
        height: 70px;
        padding: 2px;
        box-sizing: border-box;
        background-image: url('/static/img/textarea_border_bg.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-color: $default;
        .el-textarea__inner{
          height: 100%;
          width: 100%;
          border: none;
          resize: none;
          color: #fff;
          font-size:12px;
          background-color: $default;
        }
        &.el-input--medium{
          height: 300px;
          .el-textarea__inner{
            background-image:url("/static/img/textarea_border2_bg.png");
          }
        }
      }
      .el-form-item__error{
        position: absolute;
        right:0;
        top:0;
        left:222px;
        color:#F87F21;
        line-height: 28px;
        padding-left:8px;
        white-space: nowrap;
      }
      .el-checkbox{
        .el-checkbox__label{
          font-size:12px;
          color: #fff;
        }
      }
    }
  }
  //白色主题背景
  &.white{
    .el-form-item {
      &[readonly] {
        .el-input {
          background: $white !important;
          .el-input__inner {
            &[readonly] {
              background: $white;
            }
          }
        }
        .el-textarea__inner{
          background: $white!important;
          &[readonly]{
            background: $white;
          }
        }
      }
      .el-form-item__label {
        color: #333;
        padding: 0;
      }
      .el-form-item__content {
        line-height: 30px;
        .el-input {
          height: 30px;
          border-radius: 5px;
          background-color: #F9F9F9;
          .el-input__inner {
            box-shadow: inset 0 1px 3px 0 rgba(5,20,28,0.30);
            color:#333;
          }
        }
        .el-textarea{
          background-color: #F9F9F9;
          .el-textarea__inner{
            border-radius: 0;
            box-shadow: inset 0 1px 3px 0 rgba(5,20,28,0.30);
            color: #333;

          }
          &.el-input--medium{
            .el-textarea__inner{
              background-image:url("/static/img/textarea_border2_bg.png");
            }
          }
        }
        .el-checkbox{
          .el-checkbox__label{
            font-size:12px;
            color: #333;
          }
        }
      }
      .form__item--des{
        color: rgba(5,5,5,0.4);
      }
    }
  }
  &.error278{
    .el-form-item{
      .el-form-item__error{
        left:278px;
      }
    }
  }
}

