@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

ul, li {
  list-style: none;
}

html {
  font-size: 14px;
}

html, body, ul, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-weight: normal;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
  min-width: 1220px;
}

*:before,
*:after {
  box-sizing: inherit;
}

.vam {
  vertical-align: middle;
  line-height: 0;
  text-align: center;
  &:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
  }
  > div, > img, > a, > span, > form, > p, > h1, > h2, > h3 {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5;
  }
}

.no-padding {
  padding: 0 !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: #0F9EE9;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.btn {
  //color: #3A71A8;
}

.mc {
  display: block;
  margin: 0 auto;
}

.fcf {
  color: #fff;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.tac {
  text-align: center;
}

.fs12 {
  font-size: 12px;
}

.fs14 {
  font-size: 14px;
}

.fs16 {
  font-size: 16px;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.fcg {
  color: $disable;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

code, pre {
  border: 1px solid $border;
  color: #fff;
  border-radius: 2px;
  padding: 15px 16px;
  margin-bottom: 20px;
  font-size: 13px;
  display: block;
  line-height: 36px;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  a {
    color: #337ab7;
    cursor: pointer;
    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//四角背景样式
.corner-bg {
  background: url("/static/img/border_bottom_right_icon.png") no-repeat right bottom, url("/static/img/border_bottom_left_icon.png") no-repeat left bottom, url("/static/img/border_top_left_icon.png") no-repeat left top, url("/static/img/border_top_right_icon.png") no-repeat right top;
  background-size: 16px auto;
}

.warn-content {
  background: rgba(66, 185, 131, .1);
  border-radius: 2px;
  padding: 16px;
  padding: 1rem;
  line-height: 1.6rem;
  word-spacing: .05rem;
  a {
    color: #42b983;
    font-weight: 600;
  }
}

//分页组件样式

.el-pagination {
  text-align: right;
  color: #fff;
  .el-pagination__total, .el-pagination__sizes {
    float: left;
    color: #fff;
  }
  button {
    background: transparent !important;
    color: #fff !important;
    &:disabled {
      color: #666 !important;
    }
  }
  .el-pager li {
    background: transparent;
    color: #fff;
    &.active {
      color: $blue;
    }
  }
  .el-pagination__jump, .btn-next {
    color: #fff;
  }
}

//加载层样式

.el-loading-mask {
  .el-loading-spinner {
    margin-top: -58px !important;
  }
  .el-icon-loading {
    display: none;
  }
  .el-loading-text {
    padding-top: 96px;
    box-sizing: border-box;
    height: 116px;
    background: url("/static/img/ob__loading--icon.png") no-repeat center top;
    background-size: auto 96px;
    color: #fff;
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);
  .subtitle {
    font-size: 20px;
    color: #fff;
  }
  &.draft {
    background: #d0d0d0;
  }
  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;
  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;
  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

button, input {
  &:disabled {
    cursor: default !important;
  }
}

//确定按钮样式
.el-button {
  &[disabled] {
    background: #515055 !important;
  }
  &.affirm, &.cancel {
    border: none;
    height: 30px;
    width: 130px;
    background-position: center center;
    background-repeat: no-repeat;
    > span {
      color: #fff;
    }
  }
  &.affirm {
    background-image: url("/static/img/affrim_btn_bg.png");
    background-size: 110% 156%;
  }
  &.cancel {
    background-image: url("/static/img/input_border_bg.png");
    background-size: calc(100% - 1px) 100%;
    > span {
      color: #0F9EE9;
    }
  }
  &.medium {
    width: 80px;
    span {
      color: #fff;
    }
    &.disable {
      background: #515055;
      //background-image: $disable;
    }
  }
}

//table 中表单样式

.table-form {
  [class^=el-icon] {
    font-size: 16px;
    &.el-icon-success {
      color: $orange;
    }
    &.el-icon-error {
      color: $blue;
    }
  }
  .is-circle {
    border: none !important;
    height: 16px;
    width: 16px;
    padding: 0 !important;
  }
  .el-form-item {
    .el-form-item__content {
      position: relative;
      line-height: 22px;
      .el-form-item__error {
        position: absolute;
        right: 0;
        top: 0;
        left: 220px;
        color: #F87F21;
        line-height: 22px;
        padding-left: 8px;
        white-space: nowrap;
      }
    }
    &:last-child {
      margin-bottom: 0 !important;
    }
    .el-input {
      width: 154px;
      min-width: auto !important;
      line-height: 22px;
      height: 22px;
      vertical-align: middle;
      .el-input__inner {
        height: 22px;
        line-height: 22px;
        font-size: 12px;
        color: #333;
      }
    }
  }
}

[class^=el-icon] {
  vertical-align: middle;
}

//公共消息提示框样式

.tip_message {
  min-width: auto;
  width: 280px;
  height: 110px;
  top: 50% !important;
  margin-top: -55px;
  text-align: center;
  background: #000;
  border: none;
  user-select: none;
  &.device {
    width: 500px;
    height: 200px;
    background: #fff;
    margin-top: -100px;
    text-align: center;
    .tip_img_icon {
      width: 72px !important;
      height: auto !important;
    }
    .tip_message_content {
      .text {
        margin-top: 16px;
        color: #333;
        line-height: 1.5;
      }
    }
  }
  .el-message__icon {
    display: none;
  }
  .tip_message_content {
    .tip_img_icon {
      width: 43px;
      height: 43px;
    }
    .text {
      color: #fff;
      line-height: 2;
    }
  }

}

//公共确认框
.uu-message-affirm {
  width: 500px;
  min-width: auto !important;
  height: 200px;
  padding-bottom: 0 !important;
  .el-message-box__btns {
    padding: 25px 15px 0;
    button:nth-child(2) {
      margin-left: 50px !important;
    }
  }
  .el-message-box__headerbtn {
    right: 10px !important;
    top: 10px !important;
  }
  .el-button--primary {

  }
}

//单行文本超出隐藏
.ellipsis {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
}

.text-btn {
  color: $blue;
  cursor: pointer;
}

//table 样式
.ob-table-wrap {
  margin: 0 20px;
}

.el-table {
  .el-table__header {
    background-color: rgba(151, 151, 151, 0.03);
    .cell {
      font-weight: 500;
    }
  }
  .el-table__body tr:hover > td {
    background-color: transparent !important;
  }
  &:after, &:before {
    background-color: $border !important;
  }
  &.el-table--border, &.el-table--group {
    border-color: $border !important;

  }
  background: transparent !important;
  td, th.is-leaf {
    border-color: $border !important;
  }
  table {
    background: transparent;
    tr, th, td {
      background: transparent;
      color: #fff;
    }
  }
}

.data-list-wrap {
  margin: 0 20px;
}

[class^='no-data'] {
  text-align: center;
  border: 1px dashed #1f2d3d;
  background: rgba(0, 0, 0, 0.20);
  height: 110px;
  width: 720px;
  font-size: 12px;
  margin: 120px auto;
  line-height: 110px;
  color: rgba(255, 255, 255, 0.5);
  &.small {
    height: 50px;
    width: 480px;
    line-height: 50px;
  }
  &.no-data-notify {
    line-height: 60px;
  }
}

.el-select__caret {
  background: url("/static/img/select_arrow_icon.png") no-repeat center center;
  background-size: 15px auto;
  &:before {
    content: '' !important;
  }
}

.danger {
  color: $pink;
  &:hover, &:focus {
    color: $pink;
  }
}

.error-color {
  color: $orange;
}

.success-color {
  color: $blue;
}

.dashed-border {
  background: rgba(1, 8, 20, 0.10);
  border: 1px dashed rgba(151, 151, 151, 0.10);
}

//form表单元素风格

//默认主题 黑色
.el-tree {
  .el-tree-node__content > .el-tree-node__expand-icon {
    padding: 4px;
  }
  .el-tree-node__children {
    .el-tree-node__expand-icon.is-leaf {
      padding: 0px !important;
    }
  }
  .el-tree-node__expand-icon.is-leaf {
    //padding: 4px!important;
    color: transparent !important;
  }
  .el-tree-node__content {
    height: 32px;
    line-height: 32px;
    background: transparent !important;
    &:focus, &:hover {
      background-color: transparent;
    }
    .el-popover__reference, .el-icon-remove-outline {
      display: none;
    }
    > span {
      z-index: 999;
    }
  }
  &.default {
    background-color: transparent !important;
    color: #fff;
    .is-current {
      > .el-tree-node__content {
        color: $blue;
        .el-popover__reference, .el-icon-remove-outline {
          display: inline-block;
        }
        &:after {
          position: absolute;
          left: 0;
          top: 0;
          content: '';
          width: 100%;
          height: 100%;
          display: block;
          opacity: 0.05;
          background-image: linear-gradient(-90deg, #8041C6 0%, #2090E4 100%);
        }
      }
    }
    .el-tree-node__content {
      position: relative;
      &:hover {
        color: $blue;
        &:after {
          position: absolute;
          left: 0;
          top: 0;
          content: '';
          width: 100%;
          height: 100%;
          display: block;
          opacity: 0.05;
          background-image: linear-gradient(-90deg, #8041C6 0%, #2090E4 100%);
        }
      }
    }
  }
}

.el-input {
  background-color: $default;
  .el-input__inner {
    border: none;
    background: url("/static/img/input_border_bg.png") no-repeat center;
    background-size: 100% 100%;
    background-color: $default;
    color: #fff;
  }
  &.white {
    background: $white;
    .el-input__inner {
      background-color: $white;
      color: #333;
    }
  }
}

.el-textarea {
  background-color: $default;
  .el-textarea__inner {
    border: none !important;
    background: url("/static/img/textarea_border_bg.png") no-repeat center;
    background-size: 100% 100%;
    background-color: $default;
    color: #fff;
  }
  &.white {
    background-color: $white;
    .el-textarea__inner {
      background-color: $white;
      color: #333;
    }
  }
}

//白色主题
.el-select-dropdown {
  .el-scrollbar {
    .el-scrollbar__wrap {
      overflow: scroll;
    }
  }
}

.el-scrollbar {
  margin: auto;
  .el-scrollbar__wrap {
    //overflow-x: hidden;
    height: calc(100% + 17px);
  }
  &.ob-scrollbar {
    height: 100%;
    .el-scrollbar__wrap {
      overflow-x: hidden;
    }
  }
}

//自定义图标多选框

.el-form-item {
  .el-radio {
    &[custom-type] {
      .el-radio__label {
        padding-left: 2px;
      }
    }
  }
}

.el-radio__inner {
  box-shadow: none !important;
}

[custom-type] {
  &.ellipsis {
    line-height: 16px;
    display: inline-block;
    padding-left: 24px;
    font-size: 12px;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    &[custom-type='address'] {
      background-image: url("./btn_image/address_icon@x2.png");
    }
    &[custom-type='action'] {
      background-image: url("./btn_image/action_icon@x2.png");
    }
    &[custom-type='manage'] {
      background-image: url("./btn_image/manage_icon@x2.png");
    }
    &[custom-type='more'] {
      background-image: url("./btn_image/more_icon@x2.png");
    }
  }
  &.is-disabled {
    .el-radio__inner {
      cursor: text;
    }
    .el-radio__label {
      cursor: text !important;
    }
  }
  .el-radio__inner {
    border: none;
    background-position: center center !important;
    background-repeat: no-repeat;
    background-size: contain !important;
    border-radius: 0;
    background-color: transparent !important;
    &:after {
      display: none;
    }
  }
  .el-radio__label {
    color: rgba(255, 255, 255, .8);
    font-size: 12px;
  }
  &[custom-type='address'] {
    .el-radio__inner {
      background-image: url("./btn_image/address_icon@x2.png");
    }
  }
  &[custom-type='action'] {
    .el-radio__inner {
      background-image: url("./btn_image/action_icon@x2.png");
    }
  }
  &[custom-type='manage'] {
    .el-radio__inner {
      background-image: url("./btn_image/manage_icon@x2.png");
    }
  }
  &[custom-type='more'] {
    .el-radio__inner {
      background-image: url("./btn_image/more_icon@x2.png");
    }
  }
  &.is-checked {
    .el-radio__label {
      color: $blue !important;
    }
    &[custom-type='address'] {
      .el-radio__inner {
        background-image: url("./btn_image/address_icon@x1.png");
      }
    }
    &[custom-type='action'] {
      .el-radio__inner {
        background-image: url("./btn_image/action_icon@x1.png");
      }
    }
    &[custom-type='manage'] {
      .el-radio__inner {
        background-image: url("./btn_image/manage_icon@x1.png");
      }
    }
    &[custom-type='more'] {
      .el-radio__inner {
        background-image: url("./btn_image/more_icon@x1.png");
      }
    }
  }
}

.community-common-form-wrap {
  margin: 0 auto;
  height: 520px;
  width: 690px;
  padding: 40px 0;
  box-sizing: border-box;
  .el-radio + .el-radio {
    &[custom-type] {
      margin-left: 10px;
    }
  }
}
