@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';

body {
  height: 100%;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
ul,li{
  list-style: none;
}
html{
  font-size:14px;
}
html,body,ul,li,h1,h2,h3,h4,h5,h6,p{
  margin:0;
  padding:0;
}

h1,h2,h3{
  font-weight: normal;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app{
  height: 100%;
}

*:before,
*:after {
  box-sizing: inherit;
}

.vam{
  vertical-align: middle;
  line-height: 0;
  text-align: center;
  &:after{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width:0;
  }
  >div,>img,>a,>span,>form,>p,>h1,>h2,>h3{
    text-align: left;
    display: inline-block;
    vertical-align: middle;
  }
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: #0F9EE9;
  text-decoration: none;
}

div:focus{
  outline: none;
 }

.btn{
  //color: #3A71A8;
}

.mc{
  display: block;
  margin: 0 auto;
}

.tal{
  text-align: left;
}
.tar{
  text-align: right;
}
.tac{
  text-align: center;
}
.fs12{
  font-size:12px;
}
.fs14{
  font-size:14px;
}
.fs16{
  font-size: 16px;
}
.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

code,pre {
  border:1px solid $border;
  color: #fff;
  border-radius: 2px;
  padding: 15px 16px;
  margin-bottom: 20px;
  font-size:13px;
  display: block;
  line-height: 36px;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  a {
    color: #337ab7;
    cursor: pointer;
    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

.warn-content{
  background: rgba(66,185,131,.1);
  border-radius: 2px;
  padding: 16px;
  padding: 1rem;
  line-height: 1.6rem;
  word-spacing: .05rem;
  a{
    color: #42b983;
    font-weight: 600;
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);
  .subtitle {
    font-size: 20px;
    color: #fff;
  }
  &.draft {
    background: #d0d0d0;
  }
  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;
  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;
  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

//确定按钮样式
.el-button {
  &.affirm,&.cancel{
    border: none;
    height: 30px;
    width: 130px;
    background-position: center center;
    background-repeat: no-repeat;
    >span{
      color: #fff;
    }
  }
  &.affirm{
    background-image: url("/static/img/affrim_btn_bg.png");
    background-size: 110% 156%;
  }
  &.cancel{
    background-image: url("/static/img/input_border_bg.png");
    background-size:calc(100% - 1px) 100%;
    >span{
      color:#0F9EE9;
    }
  }
  &.medium{
    width: 80px;
    span{
      color: #fff;
    }
    &.close,&.disable,&.reset,&.reboot,&.upgrade,&.upgrading{
      height: 30px;
      padding:8px 15px;
      background-size: contain;
      border: none;
    }
    &.upgrade{
      background-image: $upgrade;
    }
    &.upgrading{
      position: relative;
      background-image: $upgrade;
      &:after{
        content:'';
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background: $upgrading repeat-x top left;
        background-size:auto 100%;
      }
    }
    &.reset{
      background-image: $reset;
    }
    &.close{
      background-image: $close;
    }
    &.reboot{
      background-image: $reboot;
    }
    &.disable{
      //background: #515055;
      //background-image: $disable;
    }
  }
}
//table 中表单样式
.table-form{
  [class^=el-icon]{
    font-size: 16px;
    &.el-icon-success{
      color: $orange;
    }
    &.el-icon-error{
      color: $blue;
    }
  }
  .is-circle{
    border: none!important;
    height: 16px;
    width: 16px;
    padding: 0!important;
  }
  .el-form-item{
    .el-form-item__content{
      line-height: 22px;
    }
    &:last-child{
      margin-bottom: 0!important;
    }
    .el-input{
      width: 154px;
      min-width: auto!important;
      line-height: 22px;
      height: 22px;
      vertical-align: middle;
      .el-input__inner{
        height: 22px;
        line-height: 22px;
        font-size: 12px;
      }
    }
  }
}

[class^=el-icon]{
  vertical-align: middle;
}



//公共消息提示框样式

.tip_message{
  min-width: auto;
  width: 280px;
  height: 110px;
  top:50%!important;
  margin-top: -55px;
  text-align: center;
  background: #000;
  border: none;
  user-select: none;
  .el-message__icon{
    display: none;
  }
  .tip_message_content{
    .tip_img_icon{
      width: 43px;
      height: 43px;
    }
    .text{
      color: #fff;
      line-height: 2;
    }
  }

}

//公共确认框
.uu-message-affirm{
  width: 500px;
  min-width: auto!important;
  height: 200px;
  padding-bottom:0!important;
  .el-message-box__btns{
    padding:25px 15px 0;
    button:nth-child(2){
      margin-left: 50px!important;
    }
  }
  .el-message-box__headerbtn{
    right:10px!important;
    top:10px!important;
  }
  .el-button--primary{

  }
}

//单行文本超出隐藏
.ellipsis{
  display: inline-block;
  width:100%;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
}

.text-btn{
  color: $blue;
  cursor: pointer;
}

//table 样式

.el-table{
  .el-table__header{
    background-color: rgba(151,151,151,0.03);;
  }
  .el-table__body tr:hover>td{
    background-color: transparent!important;
  }
  &:after,&:before{
    background-color: $border!important;
  }
  &.el-table--border, &.el-table--group{
    border-color: $border!important;

  }
  background: transparent!important;
  td,th.is-leaf{
    border-color: $border!important;
  }
  table{
    background: transparent;
    tr,th,td{
      background: transparent;
      color: #fff;
    }
  }
}

.data-list-wrap{
  margin: 0 20px;
}

[class^='no-data']{
  text-align: center;
  border: 1px dashed #1f2d3d;
  background: rgba(0,0,0,0.20);
  height: 110px;
  width: 720px;
  font-size: 12px;
  margin: 120px auto;
  line-height: 110px;
  color: rgba(255,255,255,0.5);
  &.small{
    height: 50px;
    width: 480px;
    line-height: 50px;
  }
  &.no-data-notify{
    line-height: 60px;
  }
}

.el-select__caret{
  background: url("/static/img/select_arrow_icon.png") no-repeat center center;
  background-size:15px auto;
  &:before{
    content: ''!important;
  }
}

.error-color{
  color: $orange;
}

.success-color{
 color: $blue;
}

