@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "PingFang SC", "Heiti SC", "Microsoft YaHei", Arial, sans-serif;
}

ul, li {
  list-style: none;
}

html {
  font-size: 14px;
}

html, body, ul, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-weight: normal;
}

label {
  font-weight: 700;
}
image{
  border: none;
}
html {
  height: 100%;
  box-sizing: border-box;
}

//input placeholder 字体颜色设置
textarea::-webkit-input-placeholder, input::-webkit-input-placeholder { /* WebKit browsers */
    color: $placeholder-color!important;
    font-size: 12px;
  }
textarea:-moz-placeholder, input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $placeholder-color!important;
    font-size: 12px;
  }
textarea::-moz-placeholder, input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $placeholder-color!important;
    font-size: 12px;
  }
textarea:-ms-input-placeholder, input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $placeholder-color!important;
    font-size: 12px!important;
  }

$placeholder: #999;

.white {
  textarea::-webkit-input-placeholder, input::-webkit-input-placeholder { /* WebKit browsers */
    color: $placeholder!important;
    font-size: 12px;
  }
  textarea:-moz-placeholder, input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $placeholder!important;
    font-size: 12px;
  }
  textarea::-moz-placeholder, input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $placeholder!important;
    font-size: 12px;
  }
  textarea:-ms-input-placeholder, input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $placeholder!important;
    font-size: 12px!important;
  }
}

#app {
  height: 100%;
  min-width: 1280px;
}

*:before,
*:after {
  box-sizing: inherit;
}

//上下居中布局
.vam {
  vertical-align: middle;
  line-height: 0;
  text-align: center;
  &:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
  }
  > *{
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5;
  }
}

.no-padding {
  padding: 0 !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: #0F9EE9;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.btn {
  //color: #3A71A8;
}

.mc {
  display: block;
  margin: 0 auto;
}

.fcf {
  color: #fff;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.tac {
  text-align: center;
}

//字体大小
@each $fs in 12, 14, 16 {
  .fs#{$fs} {
    font-size: $fs + px;
  }
}

//元素margin间距

@each $mt in 5, 8, 10, 16, 24, 42, 50{
  .mt#{$mt} {
    margin-top: $mt + px;
  }
}
@each $mb in 5, 8, 10, 12, 16, 18, 22, 30{
  .g-mb#{$mb} {
    margin-bottom: $mb + px;
  }
}

@each $mbt in 5, 8, 10, 16, 24, 42, 50{
  .g-mbt#{$mbt} {
    margin-top: $mbt + px;
    margin-bottom: $mbt + px;
  }
}

@each $ml in 5, 8, 10, 20, 50, 94 {
  .ml#{$ml} {
    margin-left: $ml + px;
  }
}

@each $mr in 5, 8, 10, 15, 18, 20, 50, 94 {
  .g-mr#{$mr} {
    margin-right: $mr + px;
  }
}

@each $maxw in 110, 150, 200, 94 {
  .maxw#{$maxw} {
    max-width: $maxw + px;
    width: auto;
  }
}
 //标签间padding 值
@each $pt in 5, 8, 10, 16 {
  .g-pt#{$pt} {
    padding-top: $pt + px;
  }
}

@each $pl in 5, 8, 10, 16, 20, 100, 106 {
  .g-pl#{$pl} {
    padding-left: $pl + px;
  }
}

.g-prl20{
  padding: 0 20px;
}
.fr {
  float: right;
}

.fl {
  float: left;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.fcg {
  color: rgb(81, 80, 85);
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

//清除浮动
.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

code, pre {
  border: 1px solid $border;
  color: #fff;
  border-radius: 2px;
  padding: 15px 16px;
  margin-bottom: 20px;
  font-size: 13px;
  display: block;
  line-height: 36px;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  a {
    color: #337ab7;
    cursor: pointer;
    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//四角背景样式
.corner-bg {
  background: url("/static/img/border_bottom_right_icon.png") no-repeat right bottom, url("/static/img/border_bottom_left_icon.png") no-repeat left bottom, url("/static/img/border_top_left_icon.png") no-repeat left top, url("/static/img/border_top_right_icon.png") no-repeat right top;
  background-size: 16px auto;
}

.warn-content {
  background: rgba(66, 185, 131, .1);
  border-radius: 2px;
  padding: 16px;
  line-height: 1.6rem;
  word-spacing: .05rem;
  a {
    color: #42b983;
    font-weight: 600;
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);
  .subtitle {
    font-size: 20px;
    color: #fff;
  }
  &.draft {
    background: #d0d0d0;
  }
  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;
  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;
  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}


button, input {
  &:disabled {
    cursor: default !important;
  }
}
//确认登录提示弹框
.el-message-box__wrapper[aria-label=登录确认]{
  z-index: 9999!important;
}
.confirm__message--login{
  z-index: 9999;
}
//确定按钮样式
.el-button {
  &[disabled] {
    background: $disable;
    box-shadow: 0 2px 4px 0 #161418;
  }
  &.affirm, &.cancel {
    border: none;
    height: 30px;
    width: 150px;
    padding-left: 0;
    padding-right: 0;
    background-position: center center;
    background-repeat: no-repeat;
    > span {
      color: #fff;
    }
  }
  &.affirm {
    background-image: url("/static/img/affrim_btn_bg.png");
    background-size: 110% 156%;
  }
  &.cancel {
    background-image: url("../assets/public/button_border_bg@2x.png");
    background-size: 100% 100%;
    > span {
      color: #0F9EE9;
    }
  }
  &.medium {
    width: 80px;
    span {
      color: #fff;
    }
    &.disable {
      background: $disable;
      box-shadow: 0 2px 4px 0 #161418;
      cursor: default;
      //background-image: $disable;
    }
  }
}

.g-custom__button{
  background: url("../assets/public/button_border_bg@2x.png") no-repeat center center;
  background-size: 100% 100%;
  text-align: center;
}

.el-picker-panel {
  .el-button {
    &[disabled] {
      background: #ffffff !important;
    }
  }
}

//table 中表单样式

.table-form {
  [class^=el-icon] {
    font-size: 16px;
    &.el-icon-success {
      color: $orange;
    }
    &.el-icon-error {
      color: $blue;
    }
  }
  .is-circle {
    border: none !important;
    height: 16px;
    width: 16px;
    padding: 0 !important;
  }
  .el-form-item {
    .el-form-item__content {
      position: relative;
      line-height: 22px;
      .el-form-item__error {
        position: relative;
        color: #F87F21;
        line-height: 1;
        white-space: nowrap;
      }
    }
    &:last-child {
      margin-bottom: 0 !important;
    }
    .el-input {
      width: 154px;
      min-width: auto !important;
      line-height: 20px;
      height: 22px;
      vertical-align: middle;
      .el-input__inner {
        height: 22px;
        padding: 0 10px;
        line-height: 22px;
        font-size: 12px;
        color: #333;
      }
    }
  }
}

[class^=el-icon] {
  vertical-align: middle;
}

//公共消息提示框样式

.tip_message {
  min-width: auto;
  width: 280px;
  height: 110px;
  top: 50% !important;
  margin-top: -55px;
  text-align: center;
  background: #000;
  border: none;
  user-select: none;
  &.device {
    width: 500px;
    height: 200px;
    background: #fff;
    margin-top: -100px;
    text-align: center;
    .tip_img_icon {
      width: 72px !important;
      height: auto !important;
    }
    .tip_message_content {
      .text {
        margin-top: 16px;
        color: #333;
        line-height: 1.5;
      }
    }
  }
  .el-message__icon {
    display: none;
  }
  .tip_message_content {
    .tip_img_icon {
      width: 43px;
      height: 43px;
    }
    .text {
      color: #fff;
      line-height: 2;
    }
  }

}

//公共确认框
.uu-message-affirm {
  width: 500px;
  min-width: auto !important;
  height: 200px;
  padding-bottom: 0 !important;
  .el-message-box__btns {
    padding: 25px 15px 0;
    button:nth-child(2) {
      margin-left: 50px !important;
    }
  }
  .el-message-box__headerbtn {
    right: 10px !important;
    top: 10px !important;
  }
  .el-button--primary {

  }
}

//单行文本超出隐藏
.ellipsis {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  vertical-align: middle;
  @each $lf in 16,18,20,28,64{
    &-#{$lf} {
      @extend .ellipsis;
      width: calc(100% - #{$lf + px});
    }
  }
}

.text-btn {
  color: $blue;
  cursor: pointer;
}

//table 样式
.ob-table-wrap {
  margin: 0 20px;
}

.data-list-wrap {
  height: calc(100% - 84px);
  overflow: hidden;
  width: 100%;
  padding-top: 16px;
  box-sizing: border-box;
  > .el-scrollbar {
    height: 100%;
    .el-scrollbar__wrap{
      overflow-x: hidden;
    }
  }
}

[class^='no-data'] {
  text-align: center;
  border: 1px dashed #1f2d3d;
  background: rgba(0, 0, 0, 0.20);
  height: 110px;
  width: 720px;
  font-size: 12px;
  margin: 120px auto;
  line-height: 110px;
  color: rgba(255, 255, 255, 0.5);
  &.small {
    height: 50px;
    width: 480px;
    line-height: 50px;
  }
  &.no-data-notify {
    line-height: 60px;
  }
}

.el-select__caret {
  background: url("/static/img/select_arrow_icon.png") no-repeat center center;
  background-size: 10px auto;
  transform: rotateZ(0deg) !important;
  &.is-reverse {
    transform: rotateZ(180deg) !important;
  }
  &.el-icon-arrow-up{
    &:before {
      content: '';
    }
  }
}

.g-text{

}

.danger {
  color: $pink;
  &:hover, &:focus {
    color: $pink;
  }
}
.c-grey {
  color: $grey;
  &:hover, &:focus {
    color: $grey;
  }
}
.error-color {
  color: $orange;
  &:hover, &:focus{
    color: $orange;
  }
}

.success-color {
  color: $blue;
}

.dashed-border {
  background: rgba(1, 8, 20, 0.10);
  border: 1px dashed rgba(151, 151, 151, 0.10);
}

//渐变边框按钮
.g__input--btn{
  position: relative;
  display: block;
  background: url(/static/img/input_border_bg@2x.png) no-repeat center;
  background-size: 100% 100%;
  text-align: center;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  font-weight: 500;
  overflow: hidden;
  input[type=file]{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
  }
}


//form表单元素风格

.el-input {
  background: url(/static/img/input_border_bg@2x.png) no-repeat center;
  background-size: 100% 100%;
  background-color: $default;
  height: 30px;
  line-height: 30px;
  &.el-pagination__editor{
    background-position: center;
    background-size: 99% 100%;
    margin: 0 6px;
  }
  .el-input__inner {
    line-height: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    color: #fff;
  }
  &.white {
    background: $white;
    .el-input__inner {
      background-color: transparent;
      color: #333;
    }
  }
}

.el-textarea {
  background-color: $default;
  background: url("/static/img/textarea_border_bg.png") no-repeat left top;
  background-size: 100% 100%;
  .el-textarea__inner {
    border: none !important;
    background-color: transparent;
    color: #fff;
  }
  &.white {
    background-color: $white;
    .el-textarea__inner {
      background-color: $white;
      color: #333;
    }
  }
}

//白色主题
.el-select-dropdown {
  .el-scrollbar {
    .el-scrollbar__wrap {
      overflow: scroll;
    }
  }
}

.el-scrollbar {
  &.scroll-x{
    .el-scrollbar__wrap {
      overflow-x: scroll;
    }
  }
  .el-scrollbar__wrap {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  &.ob-scrollbar {
    height: 100%;
  }
}

//自定义图标多选框

.el-form-item {
  .el-radio {
    &[custom-type] {
      .el-radio__label {
        padding-left: 2px;
      }
    }
  }
}

// 表单dialog弹框 样式
// 使dialog中的form内容上下居中显示
.dialog__content--vm{
  &.dialog-form-wrapper{
    .el-dialog__header{
      padding-bottom: 0;
    }
    .el-dialog__body{
      padding-top: 0;
      .el-form{
        >span{
          display: block;
        }
      }
      .el-form-item:last-of-type{
        margin-bottom: 12px;
      }
    }
  }
}


.el-radio__inner {
  box-shadow: none !important;
}

.el-tree-node {
  &.is-current, &.is-checked {
    [custom-type] {
      &[custom-type='address'] {
        background-image: url("./btn_image/address_icon@x1.png");
      }
      &[custom-type='action'] {
        background-image: url("./btn_image/action_icon@x1.png");
      }
      &[custom-type='manage'] {
        background-image: url("./btn_image/manage_icon@x1.png");
      }
      &[custom-type='more'] {
        background-image: url("./btn_image/more_icon@x1.png");
      }
    }
  }
}

[custom-type] {
  &.ellipsis {
    line-height: 16px;
    display: inline-block;
    padding-left: 24px;
    font-size: 12px;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    &[custom-type='address'] {
      background-image: url("./btn_image/address_icon@x2.png");
    }
    &[custom-type='action'] {
      background-image: url("./btn_image/action_icon@x2.png");
    }
    &[custom-type='manage'] {
      background-image: url("./btn_image/manage_icon@x2.png");
    }
    &[custom-type='more'] {
      background-image: url("./btn_image/more_icon@x2.png");
    }
  }
  &.is-disabled {
    .el-radio__inner {
      cursor: text;
    }
    .el-radio__label {
      cursor: text !important;
    }
  }
  .el-radio__input {
    .el-radio__inner {
      border: none;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      border-radius: 0;
      background-color: transparent;
      &:after {
        display: none;
      }
    }
  }
  .el-radio__label {
    color: rgba(255, 255, 255, .8);
    font-size: 12px;
  }
  &[custom-type='address'] {
    .el-radio__inner {
      background-image: url("./btn_image/address_icon@x2.png");
    }
  }
  &[custom-type='action'] {
    .el-radio__inner {
      background-image: url("./btn_image/action_icon@x2.png");
    }
  }
  &[custom-type='manage'] {
    .el-radio__inner {
      background-image: url("./btn_image/manage_icon@x2.png");
    }
  }
  &[custom-type='more'] {
    .el-radio__inner {
      background-image: url("./btn_image/more_icon@x2.png");
    }
  }
  &.is-checked {
    .el-radio__label {
      color: $blue !important;
    }
    &[custom-type='address'] {
      .el-radio__inner {
        background-image: url("./btn_image/address_icon@x1.png");
      }
    }
    &[custom-type='action'] {
      .el-radio__inner {
        background-image: url("./btn_image/action_icon@x1.png");
      }
    }
    &[custom-type='manage'] {
      .el-radio__inner {
        background-image: url("./btn_image/manage_icon@x1.png");
      }
    }
    &[custom-type='more'] {
      .el-radio__inner {
        background-image: url("./btn_image/more_icon@x1.png");
      }
    }
  }
}

.community-common-form-wrap {
  margin: 18px auto 0;
  height: 520px;
  width: 690px;
  padding: 40px 0;
  box-sizing: border-box;
  .el-radio + .el-radio {
    &[custom-type] {
      margin-left: 22px;
    }
  }
}

.nick_name--popover {
  padding: 8px 10px;
}

//控制台dialog弹窗 radio-group 组件样式
.dialog__item--content{
  .el-radio__label{
    font-size: 12px;
  }
}

// el-tooltip
[role=tooltip].el-tooltip__popper{
  max-width: 60%;
  word-break: break-all;
}
p>.ellipsis{
  vertical-align: bottom;
  &[class^=maxw]{
    width: auto;
  }
}

// 人员面包屑样式
.menber .el-breadcrumb__inner{
  font-size: 14px;
  line-height: 30px;
  color: #FFFFFF !important;
  letter-spacing: 0;
}
.menber .el-table th{
  padding-left: 20px;
  font-size: 14px;
}
.menber .el-table td{
  padding-left: 20px;
  font-size: 14px;
}
 /* 上传框 */
.menber .avatar {
  display: block;
}
.editProblem .el-input .el-input__inner{
  color: #000;
}

//自有设备添加一体机下拉菜单样式

.device__menu{
  display: inline-block;
  width: 130px;
  height: 30px;
  line-height: 30px;
  border: none;
  border-radius: 4px;
  overflow: hidden;
  vertical-align: middle;
  .el-submenu__icon-arrow{
    color: #fff;
  }
  .el-submenu{
    width: 100%;
  }
  .el-submenu__title{
    height: 30px!important;
    line-height: 30px!important;
    color: #fff!important;
    border: none!important;
    text-align: center;
    background-image: linear-gradient(-90deg, #0F9DE8 0%, #8440CA 99%);
    &:hover{
      background-image: linear-gradient(-90deg, #0F9DE8 0%, #8440CA 99%);
    }
    .el-icon-arrow-down{
      display: inline-block!important;
    }
  }
}
.device__menu--popper{
  width: 130px;
  .el-menu{
    width: 130px;
    min-width: 0;
    .el-menu-item{
      height: 24px;
      line-height: 24px;
      color: #333;
      &.is-active{
        background: none;
      }
      &:hover{
        background: #EBEBEB;
      }
    }
  }
}

//  添加一体机、加入其他管理员社群
.name--text {
  height: 40px;
  border-radius: 2px;
  text-align: center;
  &.c-h50{
    height: 50px;
  }
  >div{
    display: inline-block;
    line-height: 1.4;
    text-align: left;
    color: #333;
  }
  &.safe, &.danger{
    position: relative;
    background: #EDEDED;
    &:before{
      position:absolute;
      content: '';
      top: 0;
      left: 0;
      width:0;
      height:0;
      border-top: 20px solid #F85650;
      border-right: 20px solid transparent;
      border-bottom: 20px solid transparent;
    }
  }
  &.safe{
    &:before{
      border-top: 20px solid #58D431;
    }
  }
}

//  表单必填项图标定位
.el-form-item__label::before{
  position: absolute;
  left: -10px;
}
.menber__person .el-radio+.el-radio{
  margin-left: 100px;
}
