#app {
  // 主体区域
  .main-container {
    position: absolute;
    top:70px;
    left:220px;
    width: calc(100% - 220px);
    height: calc(100% - 70px);
    transition: left .28s;
    padding: 20px;
    background: #0F0E11;
    overflow-y: auto;
    box-sizing: border-box;
  }
  // 侧边栏
  .sidebar-container {
    position: fixed;
    top: 70px;
    bottom: 0;
    left: 0;
    transition: width 0.28s;
    width: 220px !important;
    height: calc(100% - 70px);
    font-size: 0;
    z-index: 1001;
    overflow: hidden;
    background-color: #232027;
    background-image: url("/static/img/main_bg_icon.png");
    //reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }
    .scrollbar-wrapper {
      height: calc(100% + 17px);
      .el-scrollbar__view {
        height: 100%;
      }
    }
    .is-horizontal {
      display: none;
    }
    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }
    .svg-icon {
      margin-right: 16px;
    }
    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
      background-color: transparent!important;
      .el-menu-item{
        background-color: transparent!important;
      }
      //background-image: url("/static/img/main_bg_icon.png");
    }
  }
  .hideSidebar {
    .sidebar-container {
      width: 65px !important;
    }
    .main-container {
      left: 65px;
      width:calc(100% - 65px)
    }
    .submenu-title-noDropdown {
      padding-left: 10px !important;
      position: relative;
      .el-tooltip {
        padding: 0 10px !important;
      }
    }
    .el-submenu {
      overflow: hidden;
      &>.el-submenu__title {
        padding-left: 10px !important;
        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }
    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }
  .sidebar-container .nest-menu .el-submenu>.el-submenu__title,
  .sidebar-container .el-submenu .el-menu-item {
    min-width: 220px !important;
    background-color: $subMenuBg !important;
    &:hover {
      background-color: $menuHover !important;
    }
  }
  .el-menu--collapse .el-menu .el-submenu {
    min-width: 220px !important;
  }

  //适配移动端
  .mobile {
    .main-container {
      margin-left: 0px;
    }
    .sidebar-container {
      transition: transform .28s;
      width: 220px !important;
    }
    &.hideSidebar {
      .sidebar-container {
        transition-duration: 0.3s;
        transform: translate3d(-220px, 0, 0);
      }
    }
  }
  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}
