$blue: #0F9EE9;
$light-blue: #0F9DE8;
$border: rgba(151, 151, 151, 0.10);
$grey: #979797;
$red: #C03639;
$pink: #FF6660;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow: #FEC171;
$panGreen: #30B08F;
$orange: #EE6C4B;
//sidebar
$menuBg: #304156;
$subMenuBg: #1f2d3d;
$menuHover: #001528;

$disable: rgba(81, 80, 85, .25);
$default: transparent;
$white: #fff;
$placeholder-color: rgba(255, 255, 255, 0.4);
$theme-bg: rgba(21, 21, 22, 0.5); // 主题背景色
$content-bg: #1C1D2E;
$block-bg: #101116; // 区块背景色
$theme-bg1: #222336; // 主题背景色
$theme-bg2: rgba(21, 21, 22, 0.5); // 主题背景色
$theme-white: rgba(255, 255, 255, 1); // 白色主题色
$theme-white-color: #303133; // 白色主题背景字体色

$white-title-color: #252525;
$white-text-color: #555;
$white-sub-title-color: #606266;
$white-sub-text-color: #999999;

$placeholder-color: #D2D2D2;

$theme-blue: #0B7EF9;
$global-danger-color: #FF6660;
$global-success-color: #28C0B1;

$gray-color: #999;
$gray-title: #E6EFFF;
$gray-border-color: #f0f0f0;

// 尺寸变量 宽高

$barWidth: 200px;

$module-title-height: 72px;