$blue:#0F9EE9;
$light-blue:#0F9DE8;
$border:rgba(151,151,151,0.10);
$grey:#979797;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
$orange:#EE6C4B;
//sidebar
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;

$close:url("./btn_image/close_btn_bg.png");
$reset:url("./btn_image/reset_btn_bg.png");
$reboot:url("./btn_image/reboot_btn_bg.png");
$upgrade:url("./btn_image/upgrade_btn-bg.png");
$upgrading:url("./btn_image/upgrading_btn_bg.png");
$disable:url('./btn_image/disable_btn_bg.png');
$disable:#515055;
