$blue: #0F9EE9;
$light-blue: #0F9DE8;
$border: rgba(151, 151, 151, 0.10);
$grey: #979797;
$red: #C03639;
$pink: #FF6660;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow: #FEC171;
$panGreen: #30B08F;
$orange: #EE6C4B;
//sidebar
$menuBg: #304156;
$subMenuBg: #1f2d3d;
$menuHover: #001528;

$disable: rgba(81, 80, 85, .25);
$default: transparent;
$white: #fff;
$placeholder-color: rgba(255, 255, 255, 0.4);
$theme-bg: rgba(21, 21, 22, 0.5); // 主题背景色
$content-bg: #1C1D2E;
$block-bg: #101116; // 区块背景色
$theme-bg1: #222336; // 主题背景色
$theme-bg2: rgba(21, 21, 22, 0.5); // 主题背景色
$theme-white: rgba(255, 255, 255, 1); // 白色主题色
$theme-white-color: #303133; // 白色主题背景字体色
$barWidth: 200px;
$theme-blue: #0B7EF9;
$gray-title: #E6EFFF;
