html, body{
  margin: 0;
  padding: 0;
}
#label{
  width: 556px;
  left: 50%;
  margin-left: -238px;
  height: 16px;
  position: absolute;
  bottom: 30px;
}
#label .item{
  padding-top: 1px;
  box-sizing: border-box;
  color: #ffffff;
}
#label .item .box{
  float: left; width: 20px; height: 10px; line-height: 10px; border-radius: 9px;margin-right: 10px
}
#label .item .label{
  float: left; line-height: 10px; height: 10px; font-size: 11px; margin-right: 30px;
}
.level-1{
  background: #213A65
}
.level-2{
  background: #0F9EE9
}
.level-3{
  background: #005BC9
}
.level-4{
  background: #2C0189
}
.level-5{
  background: #481284
}
.levitaten {
  width: 114px;
  height: 120px;
  background-color: rgba(35, 92, 194, 0.3);
  position: absolute;
  top: 30px;
  left: 30px;
  padding: 5px;
  font-size: 12px;
  box-sizing: border-box;
  display: none;
  -webkit-animation-name: fadeIn; /*动画名称*/
  -webkit-animation-duration: 0.1s; /*动画持续时间*/
  -webkit-animation-iteration-count: 1; /*动画次数*/
  -webkit-animation-delay: 0s;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; /*初始状态 透明度为0*/
  }
  25% {
    opacity: 0.25; /*中间状态 透明度为0*/
  }
  75% {
    opacity: 0.75; /*中间状态 透明度为0*/
  }
  100% {
    opacity: 1; /*结尾状态 透明度为1*/
  }
}
.levitaten .title{
  padding: 3px 5px;
  color: #ffffff;
  overflow: hidden;
  border-bottom: 1px dashed #979797;
}
.levitaten .device-list {
  height: 85px;
  overflow: hidden;
}
.levitaten .device-list ul{
  margin: 0;
  padding: 4px 2px 0;
  text-decoration: none;
  color: #ffffff;
}
.levitaten .device-list li {
  height: 27px;
  line-height: 27px;
  list-style: none;
  position: relative;
}
.levitaten .device-list li span{
  top: -3px;
  margin-left: 5px;
  position: absolute;
}
.levitaten .top-line {
  position: absolute;
  top: -20px;
  left: 50%;
  background: rgba(255, 255, 255, 0.5);
  width: 1px;
  height: 20px;
}
.under-line {
  position: absolute;
  top: -20px;
  right: 57px;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.5);
  height: 1px;
}
